*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

body {
    background: linear-gradient(90deg, rgba(63, 94, 251, 0.5) 0%, rgba(252, 70, 107, 0.5) 100%), url('../img/hero-img.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

#container{
    width: 65%;
    margin: 0 auto;
    padding: 20px;
    background: rgb(236, 236, 236);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

#logo{
    font-size: 50px;
    letter-spacing: 4px;
    background: #8e44ad;
    font-weight: 700;
    color: aliceblue;
    line-height: 80px;
    width: 50%;
    float: left;
    padding-left: 20px;
}

#menu {
    text-transform: uppercase;
    background: #2c3e50;
    width: 100%;
    margin: 20px 0;
}

#menu ul {
    line-height: 46px;
}

#menu ul li {
    display: inline-block;
    height: 46px;
    transition: all 300ms;
}

#menu ul li:hover {
    background: #8e44ad;
}

#menu a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 0 20px;
}



